@import '@/styles/variables.module.scss';

.step {
  color: var(--main);
}

.info {
  @include text-medium();
  color: var(--font-secondary);
  text-align: center;
}

.accessCodesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 32px;
  justify-content: center;
}

.accessCode {
  margin-top: 32px;
  padding: 8px;
  text-align: center;
  color: var(--font-primary);
  background-color: var(--background);
  flex-basis: calc((100% / 3) - 8px);
  text-transform: uppercase;
}
