@import '@/styles/variables.module.scss';
@import '../../styles/variables.module.scss';

.container {
  h1 {
    @include auth-title();
  }

  & > :last-child {
    margin-top: $elem-padding-16;
  }
}

.mainContainer {

  & > * {
    margin-top: $elem-padding-40;
    margin-bottom: $elem-padding-40;
  }
}

.inputContainer {
  & > * {
    &:not(:first-child) {
      margin-top: $elem-padding-24;
    }
  }
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

form {
  @include readOnly;
}
