@import '@/styles/variables.module.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;

    &.color-theme {
        &_blue {
            & > span {
                background-color: var(--back-icon);
                span {
                    background-color:  var(--main);
                }
            }
        }
    }

    &.radius {
        &_rounded {
            & > span {
                border-radius: 4px;
                span {
                    border-radius: 4px;
                }
            }
        }
    }
}