@import '@/styles/variables.module.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  cursor: pointer;
}

.popup {
  background-color: var(--background);
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: $shadow-cards;
}
