@import '@/styles/variables.module.scss';

.content {
  & > *:last-child {
    margin-top: $elem-padding-8;
  }
}

.code {
  margin-top: $elem-padding-32;
}

.sendEgain {
  justify-content: center;
  margin-top: $elem-padding-32;
}

.submit {
  margin-top: $elem-padding-16;
}
