@import '@/styles/variables.module.scss';

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: $elem-padding-24; 

    @media #{$sm} {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}   