@import '@/styles/variables.module.scss';

.container {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    border-bottom: 1px solid var(--background);
  }
}
.group {
  display: flex;
  flex-direction: column;

  &.right {
    align-items: flex-end;
  }
}

.title {
  @include text-small();
  color: var(--font-secondary);
  margin-bottom: 4px;
}

.subTitle {
  @include text-small();
  color: var(--font-captions);
}
