@import '@/styles/variables.module.scss';

.headerCont {
  background: var(--white);
  overflow: hidden;
  box-shadow: $shadow-cards;
  position: relative;
  z-index: 2;
}

.scrollContainer {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - #{$header-height});
  background: var(--background);
}

.container {
  display: flex;
  padding: $elem-padding-24;
  padding-left: $elem-padding-16;
  min-height: 100%;
  box-sizing: border-box;
  box-sizing: border-box;
  background: var(--background);

  @media #{$sm} {
    padding: $elem-padding-16;
  }
}

.content {
  width: 100%;
  overflow: hidden;
}
