@import '@/styles/variables.module.scss';

.container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
}

.main_text {
    &_button-big {
        @include button-big()
    }
}

.add_text {
    &_button-big {
        @include text-big()
    }
}